color=true
description=true
init-license=MIT
init-version=1.0.0
location=project
registry=https://registry.npmjs.org
script-shell=/bin/bash
searchlimit=50
tag=latest
update-notifier=true
userconfig=~/.npmrc
viewer=man
